body {
    /*    width: 1920px;*/
    margin: 0;
    max-width: 1920px;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
    display: flex;
    background: #EAE7E2;
    z-index: 66;
}

.logo {
    display: flex;
    align-items: center;
    width: 210px;
    height: 45px;
    margin: 10px 17px 9px 50px;
}

    .logo svg {
        max-height: 60px;
    }

    .logo p {
        font-family: Cinzel Decorative;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #4E4E4E;
        margin: 0 0 0 10px;
    }

.logoLink {
    display: block;
}

    .logoLink:hover {
        text-decoration: none;
    }

header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #4E4E4E;
}

.takemypenTitle {
    padding-top: 20px;
}

.navBar {
    width: 90%;
}

    /*.navBar li:first-child {
    padding-left: 10%;
}*/

    .navBar li {
        margin: 0;
    }

.navBarLink a:hover {
    color: rgba(60, 179, 179, 0.95);
    list-style: none;
    text-decoration: none;
}

header a {
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #4E4E4E;
}

/*header end*/
a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #4E4E4E;
}
.blogimajes {
    text-align: center;
    margin-top: 130px;
        max-width: 100%;
}

.blogRectangle {
    transition: width 2s;
    width: 200px;
    height: 99px;
    background: #3CB3B3;
    margin: -103px 10px 10px 22%;
    z-index: 22;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 140.19%;
    color: #fff;
}

.blogRectangle:hover {
    width: 300px;
    /*border-radius: 0px 20px 20px 0px;*/
}

.blogRectangle p {
    margin: 0;
    padding-top: 20px;
}

.commonBlock {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    justify-content: center;
    max-width: 1500px;
    margin: 50px auto auto auto;
}
.commonBlock a{
    display: block;
}
.containerSmall {
    width: 340px;
    height: 381px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    margin: 20px;
}
.containerSmall:hover{
    background-image: url(../images/blog/backImg.jpg);
    background-repeat: no-repeat;
    color: #fff !important;
    background-size: cover;
}
.containerSmall h3 {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.19%;
    padding: 20px;
}
.containerSmall p:nth-child(2){
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140.19%;
    margin: 0;
    padding: 0 20px 0 20px;
}
.containerSmall p:nth-child(3){
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140.19%;
    padding: 20px;
    margin: 0;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:hover {
    color: green;
    opacity: 0.8;
    
}

/*footer start*/
footer {
    width: 100%;
    height: 100%;
    background: #3CB3B3;
    z-index: 66;
}
.footerInfoLinksLi a:hover{
    color:#4E4E4E;
}

.footerInfo {
    margin: 49px 0 0 7%;
}

.footerInfo h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: left;
    margin: 0 0 10px 0;
}

.footerFirstBlock {
    display: flex;
    flex-wrap: wrap;
}

.footerPhoneBlock {
    display: flex;
    flex-direction: column;
    padding: 55px 0 0 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11.8366px;
    line-height: 14px;
    color: #FFFFFF;

}

.contactUsLink {
    margin: 55px 0 0 33%;
}

.contactUsLink a {
    width: 184px;
    height: 39px;
    background: #3CB3B3;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    border-radius: 5px;
    border: 2px solid #fff;
    padding: 20px;
    text-decoration: none;
}

.contactUsLink a:hover {
    background: #fff;
    color: #3CB3B3;
}

/*button:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25)
}*/

.footerLinkImg {
    margin: 67px 10px 0 25%;
}

.footerLinkImg a {
    padding-left: 26px;
}

.verticalline {
    padding: 40px 0 0 10px;
}

.footerInfoLinks ul {
    display: flex;
    list-style: none;
    justify-content: center;

}

.footerInfoLinksLi a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 65px;
    text-decoration: none;
}

.footerInfoLeftLink a:nth-child(2) {
    padding-left: 20px;
}
.lastLine{    
    width: 100%;
}

.hidenBoxFooter {
    display: none;
    list-style: none;
    justify-content: center;
}
    .hidenBoxFooter a {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 8px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        padding-left: 10px;
    }
.hidenBoxFooter a:hover {
    color: #606060;
    list-style: none;
    text-decoration: none;
}
    .hidenBoxFooter span {
        font-size: 8px;
        line-height: 8px;
        color:#fff;
    }
    span img {
        font-size: 8px;
        line-height: 8px;
        color: #fff;
    }
.hidenBox {
    display: none;
}

/*Responsive Hamburger Menu*/



/*@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400);*/


#menu-button {
    position: fixed;
    top: 0px;
    left: -1px;
    display: block;
    width: 64px;
    height: 64px;
    background: #3cb3b3;
    border-radius: 5px;
    z-index: 200;
}

    #menu-button:after {
    position: absolute;
    content: "\2630";
    font-size: 44px;
    color: #fff;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 65px;
}


    #menu-button:hover {
        opacity: 0.8;
    }

    #menu-button.on:after {
        content: "x";
    }

#overlay {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    right: 0;
    left: 0;
}

    #overlay.open {
        display: block;
    }

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 90px;
    z-index: 101;
    overflow: hidden;
    border-radius: 5px;
    width: 0;
    height: 0;
}

    #hamburger-menu nav {
        padding: 10px;
        z-index: 101;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: #3cb3b3;
        border-radius: 10px;
        height: 300px;
    }

        #hamburger-menu nav a {
            display: block;
            padding: 10px;
            /*height: 1em;*/
            color: #fff;
            font-size: 1em;
            line-height: 1em;
            text-decoration: none;
            overflow: hidden;
        }

            #hamburger-menu nav a:hover {
                cursor: pointer;
                color: #fff;
}
