body {
    /*    width: 1920px;*/
    margin: 0;
    max-width: 1920px;
    overflow-x: hidden;
}

header {
    position: absolute;
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
    display: flex;
    background: #EAE7E2;
    z-index: 66;
}

.logo {
    display: flex;
    align-items: center;
    width: 210px;
    height: 45px;
    margin: 10px 17px 9px 50px;
}

    .logo svg {
        max-height: 60px;
    }

    .logo p {
        font-family: Cinzel Decorative;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #4E4E4E;
        margin: 0 0 0 10px;
    }

.logoLink {
    display: block;
}

    .logoLink:hover {
        text-decoration: none;
    }

header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #4E4E4E;
}

.takemypenTitle {
    padding-top: 20px;
}

.navBar {
    width: 70%;
}

    /*.navBar li:first-child {
    padding-left: 10%;
}*/

    .navBar li {
        margin: 0;
    }

.navBarLink a:hover {
    color: rgba(60, 179, 179, 0.95);
    list-style: none;
    text-decoration: none;
}

header a {
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #4E4E4E;
}

/*End of header*/

.rectangleOne {
    position: absolute;
    width: 1457.23px;
    height: 784.83px;
    left: 280.08px;
    top: -407.14px;
    z-index: 21;
    background: #FFFFFF;
    box-shadow: 4px 10px 20px rgba(60, 179, 179, 0.25);
    transform: rotate(-23.21deg);
}

.rectangleOne:hover {
    background: #FFFFFF;
    box-shadow: 8px 20px 30px 30px rgba(60, 179, 179, 0.25);
    /*    z-index: 44;*/
}

.contactUs {
    position: absolute;
    width: 561px;
    height: 40px;
    left: 430px;
    top: 131px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    z-index: 45;
}

.contactUsText {
    position: absolute;
    width: 472px;
    height: 35px;
    left: 430px;
    top: 194px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    z-index: 55;
}

.rectangleTwo {
    position: absolute;
    width: 882.25px;
    height: 1011.12px;
    left: -360px;
    top: 100px;
    transform: rotate(-23.21deg);
    z-index: 25;
    background: #FFFFFF;
    box-shadow: 4px 10px 20px rgba(60, 179, 179, 0.5);
}

.rectangleTwo:hover {
    background: #FFFFFF;
    box-shadow: 5px 10px 15px 10px rgba(60, 179, 179, 0.5);
    z-index: 55;
}

.rectangleThree {
    position: absolute;
    width: 1200.04px;
    height: 800px;
    left: -52px;
    top: 1071.3px;
    background: #FFFFFF;
    box-shadow: 4px 10px 20px rgba(60, 179, 179, 0.25);
    transform: rotate(-23.21deg);
    z-index: 55;
}

.rectangleThree:hover {
    background: #FFFFFF;
    box-shadow: 5px 10px 15px 10px rgba(60, 179, 179, 0.5);
    z-index: 55;
}

.rectangleFoure {
    position: absolute;
    width: 1336.71px;
    height: 1147.91px;
    left: 415px;
    top: 276px;
    background: #FFFFFF;
    box-shadow: 4px 10px 20px rgba(60, 179, 179, 0.25);
    transform: rotate(-22.85deg);
}

.rectangleFoure:hover {
    background: #FFFFFF;
    box-shadow: 5px 10px 15px 10px rgba(60, 179, 179, 0.5);
}

.rectangleInfoOne {
    display: flex;
    position: absolute;
    width: 881px;
    height: 193px;
    left: 772px;
    top: 329px;
    background: rgba(60, 179, 179, 0.46);
}

.rectangleTwoGroupOne {
    display: flex;
    z-index: 55;
    padding-left: 108px;
    position: absolute;
}

.svgColumnOne {
    flex-direction: column;
    display: flex;
}

.svgColumnOne svg:nth-child(2) {
    padding: 13px 12px 11px 0;
}

.svgColumnTwo {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
}

.svgColumnTwo svg:first-child {
    padding-bottom: 11px;
}

.phoneSvgLogo {
    padding: 28px 0 34px 271px;
    z-index: 55;
}

.rectangleOneInf {
    flex-direction: column;
}

.rectangleOneInf p:first-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    padding: 9px 0 0 163px;
    margin: 0;
}

.rectangleOneInf p:nth-child(2) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
}

.rectangleOneInf p:nth-child(3) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
}

.rectangleTwoGroupTwo {
    display: flex;
    padding-left: 142px;
}

.rectangleTwoGroupTwoFirst {
    padding-top: 51px;
}

.rectangleTwoGroupTwoSecond {
    flex-direction: column;
    display: flex;
    padding: 38px 0 25px 12px;
}

.rectangleTwoGroupTwoSecond svg:first-child {
    padding-bottom: 11px;
}

.rectangleInfoTwo {
    position: absolute;
    width: 918px;
    height: 177px;
    left: 276px;
    top: 656px;
    background: rgba(60, 179, 179, 0.46);
}

.rectangleInfoThree {
    position: absolute;
    margin: 165px 0 0 470px;
    width: 867px;
    height: 327px;
    background: rgba(60, 179, 179, 0.46);
}

.rectangleInfoThreeImgOne {
    position: absolute;
    width: 56px;
    height: 130px;
    z-index: 55;
}

.rectangleInfoThreeImgOne img {
    padding-top: 98px;
}

.rectangleInfoThreeImgTwo {
    position: absolute;
    width: 129px;
    height: 128px;
    z-index: 55;
    margin: 100px 0 0 157px;
}

.rectangleTwoGroupSvgTwo {
    display: flex;
    z-index: 55;
    position: absolute;
}

.emailGroup {
    display: flex;
    flex-direction: column;
    margin-right: 170px;
}

.emailBlod {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #000000;
    margin: 38px 0 0 0;
    z-index: 55;
}

.emailDescription {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
    margin: 14px 0 0 0;
    z-index: 55;
}

.rectangleInfoThreeImgThree img {
    position: absolute;
    width: 56px;
    height: 168px;
    left: 810px;
    top: 85px;
    z-index: 55;
}

.dayMonSun {
    position: absolute;
    margin: 10px 0 0 124px;
    z-index: 55;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.workTime {
    position: absolute;
    margin-left: 124px;
    z-index: 55;
    padding-top: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #808080;
}

.clockSvg {
    margin: 24px 0 38px 585px;
}

.orderAndImg {
    display: flex;
}

.orderBlock {
    position: absolute;
    width: 1920px;
    height: 474px;
    top: 1409px;
    background-color: #212224;
    z-index: 66;
}

.orderBlockInfo {
    padding: 114px 0 0 434px;
}

.orderBlock h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin: 0;
}

.orderBlock p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 0;
    padding: 17px 0 47px 0;
}

.orderBlock a {
    width: 105px;
    height: 32px;
    left: 430px;
    top: 1643px;
    background: #3CB3B3;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}
.orderBlock a:hover {
    background: #fff;
    color: #3CB3B3;
    text-decoration: none;
}

.orderImg {
    position: relative;
    /*height: 100%;*/
    left: 53%;
    top: 1409px;
    z-index: 66;
}


/*footer start*/
footer {
    position: absolute;
    width: 100%;
    height: 216px;
    top: 1883px;
    background: #3CB3B3;
    z-index: 66;
}
.footerInfoLinksLi a:hover{
    color:#4E4E4E;
}

.footerInfo {
    margin: 49px 0 0 7%;
}

.footerInfo h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-align: left;
    margin: 0 0 10px 0;
}

.footerFirstBlock {
    display: flex;
    flex-wrap: wrap;
}

.footerPhoneBlock {
    display: flex;
    flex-direction: column;
    padding: 55px 0 0 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11.8366px;
    line-height: 14px;
    color: #FFFFFF;

}

.contactUsLink {
    margin: 55px 0 0 33%;
}

.contactUsLink a {
    width: 184px;
    height: 39px;
    background: #3CB3B3;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    border-radius: 5px;
    border: 2px solid #fff;
    padding: 20px;
    text-decoration: none;
}

.contactUsLink a:hover {
    background: #fff;
    color: #3CB3B3;
}

.footerLinkImg {
    margin: 67px 10px 0 25%;
}

.footerLinkImg a {
    padding-left: 26px;
}

.verticalline {
    padding: 40px 0 0 10px;
}

.footerInfoLinks {}

.footerInfoLinks ul {
    display: flex;
    list-style: none;
    justify-content: center;

}


.footerInfoLinksLi a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 65px;
    text-decoration: none;
}

.footerInfoLeftLink a:nth-child(2) {
    padding-left: 20px;
}

.hidenBox {
    display: none;
}
.hidenBoxFooter {
    display: none;
    list-style: none;
    justify-content: center;
}
    .hidenBoxFooter a {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 8px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        padding-left: 10px;
    }
.hidenBoxFooter a:hover {
    color: #606060;
    list-style: none;
    text-decoration: none;
}
    .hidenBoxFooter span {
        font-size: 8px;
        line-height: 8px;
        color:#fff;
    }
    span img {
        font-size: 8px;
        line-height: 8px;
        color: #fff;
    }

/*Responsive Hamburger Menu*/



@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400);


#menu-button {
    position: fixed;
    top: 0px;
    left: -1px;
    display: block;
    width: 64px;
    height: 64px;
    background: #3cb3b3;
    border-radius: 5px;
    z-index: 200;
}

    #menu-button:after {
        position: absolute;
        content: "☰";
        font-size: 44px;
        color: #fff;
        width: 64px;
        height: 64px;
        text-align: center;
        line-height: 65px;
    }

    #menu-button:hover {
        opacity: 0.8;
    }

    #menu-button.on:after {
        content: "x";
    }

#overlay {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    right: 0;
    left: 0;
}

    #overlay.open {
        display: block;
    }

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 90px;
    z-index: 101;
    overflow: hidden;
    border-radius: 5px;
    width: 0;
    height: 0;
}

    #hamburger-menu nav {
        padding: 10px;
        z-index: 101;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: #3cb3b3;
        border-radius: 10px;
        height: 300px;
    }

        #hamburger-menu nav a {
            display: block;
            padding: 10px;
            height: 1em;
            color: #fff;
            font-size: 1em;
            line-height: 1em;
            text-decoration: none;
            overflow: hidden;
        }

            #hamburger-menu nav a:hover {
                cursor: pointer;
                color: #fff;
}