 @media (min-width: 1571px) and (max-width: 1755px) {
     .littleBlockPAndImgMain {
         margin: 90px 0 0 39%;
     }

     .greenRectangle img:first-child {
         margin: 0 38% 0 7%;
     }

     .rectangleGreey img:first-child {
         margin: -261px 0 0 8%;
     }

     .footerInfo {
         margin: 49px 0 0 10%;
     }

     .contactUsLink {
         margin: 55px 0 0 28%;
     }

     .footerLinkImg {
         margin: 67px 10px 0 17%;

     }

     .rectangleGreeyLeftInfo img {
         margin: -220px 0 0 14%;
     }

     .loaders-wrapOne {
         margin: -100px 0 0 14%;
     }
    .rectangleGreey img:last-child {
        margin: -261px 0 0 56.8%;
    }

     .rectangleGreeyLeftInfo h4 {
         margin: -80px 0 0 14%;
     }

     .rectangleGreeyLeftInfo pre {
         margin: -28px 0 0 7%;
     }

     .rectangleGreeyRightInfo img {
         margin: -220px 0 0 83.5%;
     }

     .rectangleGreeyRightInfo h4 {
         margin: -80px 0 0 83.5%;
     }

     .rectangleGreeyRightInfo pre {
         margin: -28px 0 0 75%;
     }
 }

 @media (min-width: 1440px) and (max-width: 1570px) {
     .littleBlockPAndImgMain {
         margin: 90px 0 0 39%;
     }

     .greenRectangle img:first-child {
         margin: 0 38% 0 9%;
     }

     .rectangleGreey img:first-child {
         margin: -261px 0 0 11%;
     }

     .footerInfo {
         margin: 49px 0 0 10%;
     }

     .contactUsLink {
         margin: 55px 0 0 29%;
     }

     .footerLinkImg {
         margin: 67px 10px 0 20%;

     }

     .rectangleGreeyLeftInfo img {
         margin: -220px 0 0 14%;
     }

     .loaders-wrapOne {
         margin: -100px 0 0 14%;
     }

     .rectangleGreeyLeftInfo h4 {
         margin: -80px 0 0 14%;
     }

     .rectangleGreeyLeftInfo pre {
         margin: -28px 0 0 8%;
     }

     .navBar li:first-child {
         padding-left: 0;
     }

     .logoLink {
         padding: 0;
     }

     .footerInfo {
         margin: 49px 0 0 4%;
     }

     .contactUsLink {
         margin: 55px 0 0 30%;
     }

     .footerLinkImg {
         margin: 67px 10px 0 15%;
     }

     .greenRectangle img:first-child {
         margin: 0 38% 0 5%;
     }

     .rectangleGreey img:first-child {
         margin: -261px 0 0 8%;
     }

     .rectangleGreey img:last-child {
         margin: -261px 0 0 53.5%;
     }

     .rectangleGreeyLeftInfo pre {
         margin: -28px 0 0 6.5%;
     }

     .loaders-wrapTwo {
         margin: -100px 0 0 58.3%;
     }

     .rectangleGreeyRightInfo img {
         margin: -220px 0 0 81%;
     }

     .rectangleGreeyRightInfo h4 {
         margin: -80px 0 0 80.5%;
     }

     .rectangleGreeyRightInfo pre {
         margin: -28px 0 0 71%;
     }
 }

 @media (min-width: 1366px) and (max-width: 1439px) {
     .littleBlockPAndImgMain {
         margin: 90px 0 0 39%;
     }

     .greenRectangle img:first-child {
         margin: 0 38% 0 9%;
     }

     .rectangleGreey img:first-child {
         margin: -261px 0 0 11%;
     }

     .footerInfo {
         margin: 49px 0 0 10%;
     }

     .contactUsLink {
         margin: 55px 0 0 29%;
     }

     .footerLinkImg {
         margin: 67px 10px 0 20%;

     }

     .rectangleGreeyLeftInfo img {
         margin: -220px 0 0 14%;
     }

     .loaders-wrapOne {
         margin: -100px 0 0 14%;
     }

     .rectangleGreeyLeftInfo h4 {
         margin: -80px 0 0 14%;
     }

     .rectangleGreeyLeftInfo pre {
         margin: -28px 0 0 8%;
     }

     .navBar li:first-child {
         padding-left: 0;
     }

     .logoLink {
         padding: 0;
     }

     .footerInfo {
         margin: 49px 0 0 4%;
     }

     .contactUsLink {
         margin: 55px 0 0 30%;
     }

     .footerLinkImg {
         margin: 67px 10px 0 15%;
     }

     .greenRectangle img:first-child {
         margin: 0 36.2% 0 5%;
     }

     .rectangleGreey img:first-child {
         margin: -261px 0 0 8%;
     }

     .rectangleGreey img:last-child {
         margin: -261px 0 0 53.5%;
     }

     .rectangleGreeyLeftInfo pre {
         margin: -28px 0 0 6.5%;
     }

     .loaders-wrapTwo {
         margin: -100px 0 0 58.3%;
     }

     .rectangleGreeyRightInfo img {
         margin: -220px 0 0 81.5%;
     }

     .rectangleGreeyRightInfo h4 {
         margin: -80px 0 0 80%;
     }

     .rectangleGreeyRightInfo pre {
         margin: -28px 0 0 71.5%;
     }
 }

 @media (min-width: 1288px) and (max-width: 1365px) {
     .littleBlockPAndImgMain {
         margin: 90px 0 0 39%;
     }

     header a {
         padding-left: 50px;
     }

     .greenRectangle img:first-child {
         margin: 0 38% 0 9%;
     }

     .rectangleGreey img:first-child {
         margin: -261px 0 0 11%;
     }

     .footerInfo {
         margin: 49px 0 0 10%;
     }

     .contactUsLink {
         margin: 55px 0 0 29%;
     }

     .footerLinkImg {
         margin: 67px 10px 0 20%;

     }

     .rectangleGreeyLeftInfo img {
         margin: -220px 0 0 14%;
     }

     .loaders-wrapOne {
         margin: -100px 0 0 14%;
     }

     .rectangleGreeyLeftInfo h4 {
         margin: -80px 0 0 14%;
     }

     .rectangleGreeyLeftInfo pre {
         margin: -28px 0 0 8%;
     }

     .navBar li:first-child {
         padding-left: 0;
     }

     .logoLink {
         padding: 0;
     }

     .footerInfo {
         margin: 49px 0 0 4%;
     }

     .contactUsLink {
         margin: 55px 0 0 30%;
     }

     .footerLinkImg {
         margin: 67px 10px 0 15%;
     }

     .greenRectangle img:first-child {
         margin: 0 36.2% 0 5%;
     }

     .rectangleGreey img:first-child {
         margin: -261px 0 0 8%;
     }

     .rectangleGreey img:last-child {
         margin: -261px 0 0 53.5%;
     }

     .rectangleGreeyLeftInfo pre {
         margin: -28px 0 0 6.5%;
     }

     .loaders-wrapTwo {
         margin: -100px 0 0 58.3%;
     }

     .rectangleGreeyRightInfo img {
         margin: -220px 0 0 81.5%;
     }

     .rectangleGreeyRightInfo h4 {
         margin: -80px 0 0 80%;
     }

     .rectangleGreeyRightInfo pre {
         margin: -28px 0 0 71.5%;
     }
 }

 @media (min-width: 1224px) and (max-width: 1287px) {
     .littleBlockPAndImgMain {
         margin: 90px 0 0 39%;
     }

     .greenRectangle img:first-child {
         margin: 0 38% 0 9%;
     }

     .rectangleGreey img:first-child {
         margin: -261px 0 0 11%;
     }

     .logoBig button {
         margin-bottom: 50px;
     }


     .footerInfo {
         margin: 49px 0 0 10%;
     }

     .contactUsLink {
         margin: 55px 0 0 29%;
     }

     .footerLinkImg {
         margin: 67px 10px 0 20%;

     }

     .rectangleGreeyLeftInfo img {
         margin: -220px 0 0 9%;
     }

     .loaders-wrapOne {
         margin: -100px 0 0 8%;
     }

     .rectangleGreeyLeftInfo h4 {
         margin: -80px 0 0 8%;
     }

     .rectangleGreeyLeftInfo pre {
         margin: -28px 0 0 8%;
     }

     .navBar li:first-child {
         padding-left: 0;
     }

     .logoLink {
         padding: 0;
     }

     .footerInfo {
         margin: 49px 0 0 4%;
     }

     .contactUsLink {
         margin: 55px 0 0 30%;
     }

     .footerLinkImg {
         margin: 67px 10px 0 15%;
     }

     .greenRectangle img:first-child {
         margin: 0 36.2% 0 5%;
     }

     .rectangleGreey img:first-child {
         margin: -261px 0 0 8%;
     }

     .rectangleGreey img:last-child {
         margin: -261px 0 0 53.5%;
     }

     .rectangleGreeyLeftInfo pre {
         margin: -28px 0 0 -0.5%;
     }

     .loaders-wrapTwo {
         margin: -100px 0 0 56.5%
     }

     .rectangleGreeyRightInfo img {
         margin: -220px 0 0 81.5%;
     }

     .rectangleGreeyRightInfo h4 {
         margin: -80px 0 0 82%;
     }

     .rectangleGreeyRightInfo pre {
         margin: -28px 0 0 71.5%;
     }

     .greenRectangle {
         text-align: center;
        margin-top: 50px;
     }

     .logoBig button {
         margin-bottom: 50px;
     }

     .greenRectangle img:first-child {
         margin: auto;
         width: 100%;
     }

     .rectangleGreey img:first-child {
         margin: -261px 0 0 4%;
     }

     .rectangleGreey img:last-child {
         margin: -261px 0 0 49.8%;
     }

     .greenRectangle img:nth-child(2) {
         display: none;
     }
 }

 @media (min-width: 1024px) and (max-width: 1223px) {
     header {
         justify-content: center;
         position: fixed;
     }

     .navBar {
         display: none;
     }

     .hidenBox {
         display: block;
         top: -65px;
         left: 0;
         /*position: absolute;*/

     }

     .greenRectangle,
     .rectangleGreey,
     .rectangleGreeyInfo {
         display: none;
     }

     .mobHomeTop {
         display: block;
         width: 70%
     }

     .mobHomeBotton {
         display: block;
         margin-top: 50px;
         width: 70%
     }

     .mobImgHome {
         align-items: center;
         display: flex;
         flex-direction: column;
             margin-top: 50px;
     }

     .logoBig button {
         margin-bottom: 50px;
     }

     .footerFirstBlock {
         flex-direction: column;
         align-items: center;
     }

     .footerChekLine {
         display: none;
     }

     .footerInfoLinks {
         display: none;
     }

     .verticalline {
         display: none;
     }

     .footerInfo {
         margin: 20px;
         text-align: center;
     }

     .contactUsLink {
         margin: 20px;
     }

     .footerLinkImg {
         margin: 20px;
     }

     .footerLinkImg a:first-child {
         padding: 0;
     }

     .footerPhoneBlock {
         padding: 20px;
     }

     .lastLine {
         display: none;
     }
 }

@media (min-width: 768px) and (max-width: 1023px) {
    .seoCtA p {
        padding: 20px 30% 20px 44%;
    }

    .callToAction {
        margin-top: 60px;
    }

    header {
        justify-content: center;
        position: fixed;
    }

    .navBar {
        display: none;
    }

    .hidenBox {
        display: block;
        top: -65px;
        left: 0;
        /*position: absolute;*/
    }

    .greenRectangle,
    .rectangleGreey,
    .rectangleGreeyInfo {
        display: none;
    }

    .mobHomeTop {
        display: block;
        width: 70%;
    }

    .mobHomeBotton {
        display: block;
        margin-top: 50px;
        width: 70%;
    }

    .mobImgHome {
        align-items: center;
        display: flex;
        flex-direction: column;
            margin-top: 50px;
    }

    .logoBig button {
        margin-bottom: 50px;
    }

    .footerFirstBlock {
        flex-direction: column;
        align-items: center;
    }

    .footerChekLine {
        display: none;
    }

    .footerInfoLinks {
        display: none;
    }

    .verticalline {
        display: none;
    }

    .footerInfo {
        margin: 20px;
        text-align: center;
    }

    .contactUsLink {
        margin: 20px;
    }

    .footerLinkImg {
        margin: 20px;
    }

        .footerLinkImg a:first-child {
            padding: 0;
        }

    .footerPhoneBlock {
        padding: 20px;
    }

    .lastLine {
        display: none;
        
    }
    .hidenBoxFooter{
    display: flex;
    padding-bottom: 20px;

     }
 }

 @media (min-width: 480px) and (max-width: 767px) {
     header {
         justify-content: center;
         position: fixed;
     }

     .callToAction {
         margin-top: 60px;
     }

     .navBar {
         display: none;
     }

     .hidenBox {
         display: block;
         top: -65px;
         left: 0;
         /*position: absolute;*/
     }

     .menu-container .links a {
         margin: 7px;
     }

     .greenRectangle,
     .rectangleGreey,
     .rectangleGreeyInfo {
         display: none;
     }

     .mobHomeTop {
         display: block;
         width: 70%;
     }

     .mobHomeBotton {
         display: block;
         margin-top: 50px;
         width: 70%;
     }

     .mobImgHome {
         align-items: center;
         display: flex;
         flex-direction: column;
             margin-top: 50px;
     }

     .logoBig button {
         margin-bottom: 50px;
     }

     .footerFirstBlock {
         flex-direction: column;
         align-items: center;
     }

     .footerChekLine {
         display: none;
     }

     .footerInfoLinks {
         display: none;
     }

     .verticalline {
         display: none;
     }

     .footerInfo {
         margin: 20px;
         text-align: center;
     }

     .contactUsLink {
         margin: 20px;
     }

     .footerLinkImg {
         margin: 20px;
     }

     .footerLinkImg a:first-child {
         padding: 0;
     }

     .footerPhoneBlock {
         padding: 20px;
     }

     .lastLine {
         display: none;
     }

     .seoCtA p {
         padding: 20px 30% 20px 44%;
     }

     #checkbox-1:checked~.content,
     #checkbox-2:checked~.content,
     #checkbox-3:checked~.content {
         max-height: 100%;
     }
    .hidenBoxFooter {
        display: flex;
        padding-bottom: 20px;
    }
 }

 @media (min-width: 320px) and (max-width: 479px) {
     header a {
         padding: 0;
     }

     header {
         justify-content: center;
         position: fixed;
     }

     .callToAction {
         margin-top: 60px;   
         height: 300px;
     }
        .callToAction h2 {
            padding: 50px 0 55px 0;
            font-size: 40px;
            line-height: 48px;
        }

     .logo {
         margin: 10px 17px 9px 75px;
     }

     .navBar {
         display: none;
     }

     .hidenBox {
         display: block;
         top: -65px;
         left: 0;
         /* position: absolute;*/

     }

    .contentGrafikaBlock {
        line-height: 24px;
        width: 100%;
    }
     .contentGrafikaBlock h4 {
        margin-bottom: 20px;
     }


        .greenRectangle,
        .rectangleGreey,
        .rectangleGreeyInfo {
            display: none;
        }

     .mobHomeTop {
         display: block;
        width: 100%;
     }

     .mobHomeBotton {
         display: block;
         margin-top: 50px;
            width: 100%;
     }
     .logoBig h1{
        font-size: 32px;
        line-height: 36px;
        width: 90%;
     }

     .mobImgHome {
        margin-top: 50px;
         align-items: center;
         display: flex;
         flex-direction: column;
     }

     .logoBig button {
         margin-bottom: 50px;
     }

     .footerFirstBlock {
         flex-direction: column;
         align-items: center;
     }

     .footerChekLine {
         display: none;
     }

     .footerInfoLinks {
         display: none;
     }

     .verticalline {
         display: none;
     }

     .footerInfo {
         margin: 20px;
         text-align: center;
     }

     .contactUsLink {
         margin: 20px;
     }

     .footerLinkImg {
         margin: 20px;
     }

     .footerLinkImg a:first-child {
         padding: 0;
     }

     .footerPhoneBlock {
         padding: 20px;
     }

     .lastLine {
         display: none;
     }

     .seoCtA p {
         padding: 20px 7% 20px 44%;
     }

     #checkbox-1:checked~.content,
     #checkbox-2:checked~.content,
     #checkbox-3:checked~.content {
         max-height: 100%;
     }

     .logo {
         margin: 10px 17px 9px 75px;
     }
     .checkbox p {
        font-size: 20px;
        line-height: 28px;
    }
    .hidenBoxFooter {
        display: flex;
        padding-bottom: 20px;
    }

 }