 @media (min-width: 1580px) and (max-width: 1745px) {
     .littleBlockPAndImgMain {
         margin: 90px 0 0 39%;
     }

     .footerInfo {
         margin: 49px 0 0 10%;
     }

     .contactUsLink {
         margin: 55px 0 0 29%;
     }

     .footerLinkImg {
         margin: 67px 10px 0 16%;

     }
 }

 @media (min-width: 1224px) and (max-width: 1579px) {
     .navBar li:first-child {
         padding-left: 0;
     }

     header a {
         padding-left: 10px;
     }

     .logoLink {
         padding: 0;
     }

     .littleBlockPAndImgTop,
     .littleBlockPAndImgMain,
     .littleBlockPAndImgButton,
     .littleBlockPAndImgTopRight,
     .littleBlockPAndImgButtonRight {
         flex-direction: column;
     }

     .centrlineGrad img {
         height: 100%;
     }

     .dataLeft p:first-child {
         padding: 240px 10px 0 0;
     }

     .dataLeft p:nth-child(2) {
         padding: 350px 10px 0 0;
         width: 83px;
     }

     .littleBlockPAndImgTopRight {
         align-items: center;
         margin: 120px 0 0 0;
     }

     .littleBlockPAndImgButtonRight img {
         padding-left: 80px;
     }

     .littleBlockPAndImgButtonRight {
         margin: 120px 0 0 60px;
     }

     .mainContentRight {
         flex-basis: 40%;
     }

     .mainContentLeft {
         flex-basis: 40%;
     }

     .dataRight p:first-child {
         margin-top: 28px;
     }

     .dataRight {
         width: 83px;
     }

     .dataRight p:nth-child(2) {

         padding: 295px 0 0 10px;
     }

     .dataRight p:nth-child(3) {
         padding: 365px 0 0 10px;
     }

     .footerInfo {
         margin: 49px 0 0 4%;
     }

     .contactUsLink {
         margin: 55px 0 0 33%;
     }

     .footerLinkImg {
         margin: 67px 10px 0 15%;
     }
 }

 @media (min-width: 1100px) and (max-width: 1223px) {
     header {
         justify-content: center;
         position: fixed;
     }

     .navBar {
         display: none;
     }

     .hidenBox {
         display: block;
         top: -65px;
         left: 0;
         position: absolute;

     }

     .centrlineGrad img {
         height: 100%;
     }

     .dataLeft p:first-child {
         padding: 240px 10px 0 0;
     }

     .dataRight p:first-child {
         margin-top: 28px;
     }

     .dataLeft p:nth-child(2) {
         padding: 335px 10px 0 0;
     }

     .dataRight p:nth-child(2) {
         padding: 275px 0 0 10px;
     }

     .dataRight p:nth-child(3) {
         padding: 360px 0 0 10px;
     }

     .footerFirstBlock {
         flex-direction: column;
         align-items: center;
     }

     .footerChekLine {
         display: none;
     }

     .footerInfoLinks {
         display: none;
     }

     .verticalline {
         display: none;
     }

     .footerInfo {
         margin: 20px;
         text-align: center;
     }

     .contactUsLink {
         margin: 20px;
     }

     .footerLinkImg {
         margin: 20px;
     }

     .footerLinkImg a:first-child {
         padding: 0;
     }

     .footerPhoneBlock {
         padding: 20px;
     }
    .hidenBoxFooter {
        display: flex;
        padding-bottom: 20px;
    }
        .mainContentOne {
        display: none;
    }

    .mainContentTwo {
        display: flex;
    }
 }

 @media (min-width: 480px) and (max-width: 1099px) {
     header {
         justify-content: center;
         position: fixed;
     }
.littleBlockPAndImgTopRight{
    margin: 90px 0 0 120px;
}
.littleBlockPAndImgButtonRight{
    margin: 80px 0 0 60px;
}
.littleBlockPAndImgButton{
    margin: 50px 0 10px 25%;
}
     .navBar {
         display: none;
     }

     .hidenBox {
         display: block;
         position: absolute;
         left: 0;
         top: -100%;
     }


     .footerFirstBlock {
         flex-direction: column;
         align-items: center;
     }

     .footerChekLine {
         display: none;
     }

     .footerInfoLinks {
         display: none;
     }

     .verticalline {
         display: none;
     }

     .footerInfo {
         margin: 20px;
         text-align: center;
     }

     .contactUsLink {
         margin: 20px;
     }

     .footerLinkImg {
         margin: 20px;
     }

     .footerLinkImg a:first-child {
         padding: 0;
     }

     .footerPhoneBlock {
         padding: 20px;
     }

     .centralGradation {
         display: none;
     }

     .mainContent {
         flex-wrap: nowrap;
         flex-direction: column;
     }
    .hidenBoxFooter {
        display: flex;
        padding-bottom: 20px;
    }
        .mainContentOne {
        display: none;
    }

    .mainContentTwo {
        display: flex;
    }
 }

@media (min-width: 320px) and (max-width: 479px) {
    header {
        justify-content: center;
        position: fixed;
    }
.littleBlockPAndImgTopRight{
    margin: 90px 0 0 120px;
}
.littleBlockPAndImgButtonRight{
    margin: 80px 0 0 60px;
}
.littleBlockPAndImgButton{
    margin: 50px 0 10px 25%;
}
.littleBlockPAndImgButtonRight img {
    margin-left: 50px;
}
    .navBar {
        display: none;
    }

    .hidenBox {
        display: block;
        top: 100px;
        left: 0;
        position: absolute;
    }

    .titleBlock {
        margin: 100px auto auto auto;
    }

        .titleBlock p {
            font-size: 20px;
            line-height: 24px;
            text-align: justify;
        }

    .footerFirstBlock {
        flex-direction: column;
        align-items: center;
    }

    .footerChekLine {
        display: none;
    }

    .footerInfoLinks {
        display: none;
    }

    .verticalline {
        display: none;
    }

    .footerInfo {
        margin: 20px;
        text-align: center;
    }

    .contactUsLink {
        margin: 20px;
    }

    .footerLinkImg {
        margin: 20px;
    }

        .footerLinkImg a:first-child {
            padding: 0;
        }

    .footerPhoneBlock {
        padding: 20px;
    }

    .centralGradation {
        display: none;
    }

    .mainContent {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .menu-container {
        top: -100px;
    }

    label {
        top: -90px;
    }

    .littleBlockPAndImgMain {
        margin: 30px;
    }

    .littleBlockPAndImgButton {
        margin: 20px 0 20px 50px;
    }

    .littleBlockPAndImgTopRight {
        margin: 40px;
    }

    .littleBlockPAndImgButtonRight {
        margin: 10px;
    }

    .littleBlockPAndImgButton p {
        width: 95%;
    }

    .hidenBoxFooter {
        display: flex;
        padding-bottom: 20px;
    }

    .titleBlock p {
        max-width: 90%;
    }

    .callToAction {
        height: 300px;
    }
    .callToAction h2 {
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            color: #3CB3B3;
            padding: 50px 20px 55px 20px;
            margin: 0;
    }
        .mainContentOne {
        display: none;
    }

    .mainContentTwo {
        display: flex;
    }
}